$darkBackgroundColor: #000;
$lightBackgroundColor: #fff;

$lightGreyColor: #EFEEEE;
$greyColor: #999;

$lightFontColor: #fff;
$greyFontColor: #999;
$darkFontColor: #202020;
$darkesFontColor: #000;

$markerBackgroundColor: #eb213f;
$markerFontColor: #fff;

$btnFontColor: #fff;


